
<script
  src="http://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>

  <div class="container-fluid">
    <div class="page-header">
      <h1></small></h1>
    </div>
    <div class="container">
    <div class="page-header">
      <h3>Select Your Plan</h3>
      <h4 class="text-center">Your Current Plan is <b>{{user.stripe.plan}}</b></h4>
    </div>

    {{#if user.stripe.last4 }}
    <div class="page-header">
      <h3>Enter Your Payment Details</h3>
    </div>
    <form role="form" id="cardForm" action="/user/billing" method="POST" class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-12 text-center control-label">Test Card Info</label>
        <div class="col-sm-12 text-center">
          <div class="form-control-static">4242424242424242, 11/19, 123 - <a href="https://stripe.com/docs/testing">additional test cards</a></div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-12 control-label text-center">Card Number</label>
        <div class="col-md-6 offset-md-3">
          <input id="card-num" type="text" class="form-control" placeholder="XXXX XXXX XXXX {{user.stripe.last4}}">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-12 text-center control-label">Card Details</label>
        <div class="col-md-6 offset-md-3">
          <div class="row">
            <div class="col-xs-6 offset-md-1">
              <input id="card-month" type="text" size="2" maxlength="2" class="form-control" placeholder="MM">
            </div>
            <div class="col-xs-6 offset-md-1">
              <input id="card-year"  type="text" size="2" maxlength="2" class="form-control" placeholder="YY">
            </div>
            <div class="col-xs-6 offset-md-1">
              <input id="card-cvc" type="text" size="3" maxlength="3" class="form-control" placeholder="CVC">
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12 text-center">
          <div id="cardFormError" class="alert alert-danger hidden" role="alert">
            <p>{{error}}</p>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12 text-center">
          <button type="submit" class="btn btn-primary">Update Card</button>
        </div>
      </div>
    </form>
    {{/if}}

                        <div class="row pricing bottommargin clearfix">

                        <div class="col-lg-3">

							<div class="pricing-box">
								<div class="pricing-title">
									<h3>Free</h3>
								</div>
								<div class="pricing-price">
									<span class="price-unit">&dollar;</span>0<span class="price-tenure">/mo</span>
								</div>
								<div class="pricing-features">
									<ul>
										<li>Upto 2 Projects</li>
										<li>Upto 3 Patterns</li>
										<li>Upto 3 Fabrics</li>
										<li>No notion tracking</li>
										<li>Email Support</li>
									</ul>
								</div>
                <div class="pricing-action">
                  <button class="btn btn-danger btn-block btn-lg plan-select" id="free">Select Plan</button>
                </div>
							</div>

						</div>

						<div class="col-lg-3">

							<div class="pricing-box">
								<div class="pricing-title">
									<h3>Silver</h3>
								</div>
								<div class="pricing-price">
									<span class="price-unit">&dollar;</span>5<span class="price-tenure">/mo</span>
								</div>
								<div class="pricing-features">
									<ul>
									</ul>
								</div>
                <div class="pricing-action">
                  <button class="btn btn-danger btn-block btn-lg plan-select" id="silver">Select Plan</button>
                </div>
							</div>

						</div>

						<div class="col-lg-3">

							<div class="pricing-box">
								<div class="pricing-title">
									<h3>Gold</h3>
								</div>
								<div class="pricing-price">
									<span class="price-unit">&dollar;</span>10<span class="price-tenure">/mo</span>
								</div>
								<div class="pricing-features">
									<ul>

									</ul>
								</div>
                <div class="pricing-action">
                  <button class="btn btn-danger btn-block btn-lg plan-select" id="gold">Select Plan</button>
                </div>
							</div>

						</div>

						<div class="col-lg-3">

							<div class="pricing-box">
								<div class="pricing-title">
									<h3>Platinum</h3>
								</div>
								<div class="pricing-price">
									<span class="price-unit">&dollar;</span>20<span class="price-tenure">/mo</span>
								</div>
								<div class="pricing-features">
									<ul>
									</ul>
								</div>
                <div class="pricing-action">
                  <button class="btn btn-danger btn-block btn-lg plan-select" id="platinum">Select Plan</button>
								</div>
							</div>

						</div>

					</div>
    <form {{#if user.stripe.last4 }}id="cardForm"{{/if}} action="/user/plan" method="POST" class="form-horizontal text-center">
      <div class="form-group plans">
          <label for="plan" class="col-sm-12 control-label text-left"></label>
        <div class="col-sm-12">
          {{#each plans}}
            <div class="radio">
              <label>
                <input type="radio" class="plan"{{#contains user.stripe.plan loop.key}}checked {{/contains}} name="plan" value="{{loop.key}}" data-toggle="radio">
                <span>{{this.name}} - ${{this.price}}</span>
              </label>
            </div>
            {{/each}}
        </div>
      </div>
      {{#if user.stripe.last4 }}
      <div id="cardWrapper">
        <div class="form-group">
          <label class="col-sm-3 control-label">Test Card Info</label>
          <div class="col-sm-7">
            <div class="form-control-static">4242424242424242, 11/19, 123 - <a href="https://stripe.com/docs/testing">additional test info</a></div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Card Number</label>
          <div class="col-sm-4">
            <input id="card-num" type="text" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Card Details</label>
          <div class="col-sm-4">
            <div class="row">
              <div class="col-xs-4">
                <input id="card-month" type="text" size="2" maxlength="2" class="form-control" placeholder="MM">
              </div>
              <div class="col-xs-4">
                <input id="card-year"  type="text" size="2" maxlength="2" class="form-control" placeholder="YY">
              </div>
              <div class="col-xs-4">
                <input id="card-cvc" type="text" size="3" maxlength="3" class="form-control" placeholder="CVC">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-6">
            <div id="cardFormError" class="alert alert-danger hidden" role="alert">
              <p>{{error}}</p>
            </div>
          </div>
        </div>
      </div>
      {{/if}}
      <div class="form-group">
        <div class="col-sm-12 text-center">
          <button type="submit" class="btn btn-primary">Update Plan</button>
        </div>
      </div>
    </form>



    <script>
    $('#free').on('click',function(){
        $('.plan[value="free"]').trigger('click');
    });
    $('#silver').on('click',function(){
        $('.plan[value="silver"]').trigger('click');
    });
    $('#gold').on('click',function(){
        $('.plan[value="gold"]').trigger('click');
    });
    $('#platinum').on('click',function(){
        $('.plan[value="platinum"]').trigger('click');
    });
    </script>


  </div>
</div>
